# Copy this file to .env and fill in your real values

GROQ_API_KEY=paste_groq_api_here

GITHUB_TOKEN=your_github_token
GITHUB_USERNAME=your_user_name
GITHUB_REPO=your_gihub_repo_name

SLACK_BOT_TOKEN=xoxb-your_slack_bot_token
SLACK_CHANNEL=your_channel_name

SENDGRID_API_KEY=paste_your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=your_sender_email
RECEIVER_EMAIL=your_reciever_email
